<select class="selectpicker"
        name="bfd-state"
        id="select-bfd-state"
        data-width="100%"
        data-selected-text-format="count > 1"
        data-actions-box="true"
        multiple>
    <option value="Down" data-content="<span class='bgh bgh-warning'>Down</span>">Down</option>
    <option value="Init" data-content="<span class='bgh bgh-warning'>Init</span>">Init</option>
    <option value="Up" data-content="<span class='bgh bgh-success'>Up</span>">Up</option>
</select>
