{% extends 'server/base.html.twig' %}

{% block heading_title %}
    {% if routeServerService.servers|length > 1 %}
        <div class="row">
            <div class="heading-display">
                {{ parent() }}
            </div>

            <div class="heading-navigation mb-3">
                {{ include('server/_dropdown_server.html.twig', {
                    button_class: 'btn-outline-primary btn-lg'
                }) }}
            </div>
        </div>
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock %}
